.create-project-page {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.project-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-form label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.project-form input,
.project-form textarea {
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

button {
    padding: 0.8rem 1.2rem;
    background: #001e62;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #003399;
}

.error {
    color: red;
    font-weight: 500;
}

.project-form select[multiple] {
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    min-height: 120px;
    background: #f9f9f9;
    cursor: pointer;
}

.project-form select[multiple] option {
    padding: 0.5rem;
    background: white;
    border-bottom: 1px solid #eee;
}

.project-form select[multiple] option:hover {
    background: #e6f0ff;
}
  

.image-preview {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  
.preview-container {
    position: relative;
    display: inline-block;
}

.preview-img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0,0,0,0.6);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash-icon {
    width: 16px;
    height: 16px;
    filter: invert(100%);
    pointer-events: none;
}

.remove-btn:hover {
    background: rgba(255,0,0,0.7);
}